<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        #{get 'moreStyles' /}
        <link rel="stylesheet" href="@{'public/stylesheets/main.css'}" type="text/css">
        <link rel="stylesheet" href="@{'public/stylesheets/jquery.countdown.css'}" type="text/css">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.countdown.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.countdown-it.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
        <script type="text/javascript" charset="utf-8">
            var stopAction = #{jsAction @stop()/};
            var startAction = #{jsAction @start()/};
            #{if user.getActiveTimeSlice()}
                var activeStartTime = ${user.getActiveTimeSlice().startTime.getTime()};
            #{/if}
            #{else}
                var activeStartTime;
            #{/else}
            
        </script>
        <script src="@{'/public/javascripts/cartellino.js'}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="main">
            <div id="top-left-menu">
                <div id="add-panel" style="float: left;display: none;">
                    #{form @Application.addActivity()}
                    <label for="add-activity-input">Name</label>
                        <input type="text" id="add-activity" name="name"/>
                        <input type="submit"/>
                    #{/form}
                </div>
                <div style="display: inline">
                    <img id="add" src="@{'/public/images/square-plus.png'}"/>
                </div>
            </div>
            <div id="top-menu">
                #{a @CRUD.index()}Administration#{/a}
                #{a @Secure.logout()}Logout#{/a}
            </div>
            <div id="content">
               #{doLayout /}
            </div>
            <div id="counter" style="display:none;"></div>
        </div>
    </body>
</html>
